{% extends "layout.html" %}

{% block title %}Blog - WeatherWise{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}
{% block content %}
    <div class="tab-wrap">
        {% for category in categories %}
            <input type="radio" id="tab{{ category.id }}" name="tabGroup" class="tab" data-category-id="{{ category.id }}">
            <label for="tab{{ category.id }}">{{ category.name }}</label>
        {% endfor %}
    </div>

    <div class="articles" id="articles">
        {% for article in articles %}
            <div class="article" data-category-id="{{ article.category_id }}">
                <img src="{{ article.photo_url }}" alt="{{ article.title }}">
                <h2>{{ article.title }}</h2>
                <p>
                    {% set words = article.content.split() %}
                    {% if words|length > 30 %}
                        {% for word in words[:30] %}
                            {{ word }}
                        {% endfor %}
                        ...
                    {% else %}
                        {{ article.content }}
                    {% endif %}
                </p>
                <a href="{{ url_for('blog.article', article_id=article.id) }}" class="read-more">Read more</a>
            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='scripts/blog.js') }}"></script>
{% endblock %}





